@page
@model CustomerCarePortal.Pages.Agents.EditModel
@{
}

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Agents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Agent.Id" />
            <input type="hidden" asp-for="Agent.Email" />
            <div class="form-group">
                <label asp-for="Agent.Name" class="control-label"></label>
                <input asp-for="Agent.Name" class="form-control" readonly/>
                <span asp-validation-for="Agent.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Team</label>
                <select asp-for="Agent.TeamId" class="form-control" asp-items="ViewBag.AgentTeams"></select>
                <span asp-validation-for="Agent.TeamId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-success" />
                <a class="btn btn-primary" asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>